<!--
	Custom configuration for Ucommerce components.
	
	Find the ID of component you want to override
	and use the same ID here. Your component will
	override the default.
	
	You can configure new components here as well
	and have them injected into existing ones.
-->
<configuration>
	<components>
    <component id="usernameService"
               service="Ucommerce.Security.ICurrentUserNameService, Ucommerce"
               type="RunningUCommerce.Security.UsernameService, RunningUCommerce" />

    <component id="JavascriptFactory"
               service="Ucommerce.Presentation.UI.IJavascriptFactory, Ucommerce.Presentation"
               type="RunningUCommerce.Content.JavascriptFactory, RunningUCommerce" />
        
    <component id="MemberService"
               service="Ucommerce.Security.IMemberService, Ucommerce"
               type="RunningUCommerce.Security.MemberService, RunningUCommerce" />
        
    <component id="userService"
           service="Ucommerce.Security.IUserService, Ucommerce"
           type="RunningUCommerce.Security.IntegrationTestUserService, RunningUCommerce" />
    
    <component id="userGroupService"
       service="Ucommerce.Security.IUserGroupService, Ucommerce"
       type="RunningUCommerce.Security.IntegrationTestUserGroupService, RunningUCommerce" />
    
    <component id="loggingService"
           service="Ucommerce.Infrastructure.Logging.ILoggingService, Ucommerce.Infrastructure"
           type="RunningUCommerce.Logging.ConsoleLoggingService, RunningUCommerce" />

    <component id="ContentService"
       service="Ucommerce.Content.IContentService, Ucommerce"
       type="RunningUCommerce.Content.IntegrationTestContentService, RunningUCommerce" />

    <component id="ImageService"
   service="Ucommerce.Content.IImageService, Ucommerce"
   type="RunningUCommerce.Content.IntegrationTestImageService, RunningUCommerce" />

    <component id="DomainService"
   service="Ucommerce.Content.IDomainService, Ucommerce"
   type="RunningUCommerce.Content.IntegrationTestDomainService, RunningUCommerce" />

    <component id="LanguageService"
   service="Ucommerce.Infrastructure.Globalization.ILanguageService, Ucommerce.Infrastructure"
   type="RunningUCommerce.Globalization.LanguageService, RunningUCommerce" />

    <component id="ConnectionStringLocator"
           service="UCommerce.Infrastructure.Configuration.IConnectionStringLocator, UCommerce.Infrastructure"
           type="RunningUCommerce.ConnectionStringLocator.IntegrationTestConnectionStringLocator, RunningUCommerce" />

    <component id="IInstallationConnectionStringLocator"
               service="Ucommerce.Installer.IInstallationConnectionStringLocator, Ucommerce.Installer"
               type="RunningUCommerce.ConnectionStringLocator.InstallationIntegrationTestConnectionStringLocator, RunningUCommerce" />
        
    <component
      id="SessionProvider"
      service="UCommerce.EntitiesV2.ISessionProvider, UCommerce"
      type="UCommerce.EntitiesV2.SessionProvider, UCommerce">
      <parameters>
        <EnableCache>#{enableCache}</EnableCache>
        <CacheProvider>#{cacheProvider}</CacheProvider>
        <ConnectionIsolation>#{databaseConnectionIsolationLevel}</ConnectionIsolation>
      </parameters>
    </component>

    <partial-component id="AddAddress">
        <parameters>
            <tasks>
                <array>
                    <value remove="${AddAddress.Feed.CustomerIsCheckingOut}"></value>
                </array>
            </tasks>
        </parameters>
    </partial-component>

    <partial-component id="Checkout">
        <parameters>
            <tasks>
                <array>
                    <value remove="${Checkout.Feed.OrderPlaced}"></value>
                    <value remove="${Checkout.Feed.ReturningCustomer}"></value>
                    <value remove="${Checkout.Feed.NewCustomer}"></value>
                    <value remove="${Checkout.Feed.CampaignTriggered}"></value>
                    <value remove="${Checkout.SendConfirmationEmail}"></value>
                </array>
            </tasks>
        </parameters>
    </partial-component>
    
    <component id="paymentMethod"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.DefaultPaymentMethodService, Ucommerce" />
        
  </components>
</configuration>